@font-face {
    font-family: Title;
    src: url(/font/lilita-one.regular.ttf);
}


.navbar{
    min-height: 100px;
    background-image: linear-gradient(to right,#1167B1,#2A9DF4,#1167B1);
}

.navbar-brand{
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    font-family: Title !important;
    color: #D0EFFF !important;
}

.navbar-brand,
.navbar-custom {
    text-align: left;
    font-weight: bold;
    font-family: Title !important;
    color: #D0EFFF !important;
}

.bookshelf{
    width: 90%;
    height: 60vh;
    margin: auto;
    background-color: white;
    margin-top: 50px;
 
}

.bookshelf .bstitle{
    text-align: center;
    width: 100%;
    height: 50px;
    vertical-align: middle;
    font-size: 28px;
    font-weight: bolder;
    font-family: Title;
    color: #2A9DF4;
}

.bookcontainer{
    width: 18%;
    height: 40vh;
    padding: 20px;
    margin-left: 1%;
    position: relative;
    top: 5%;
    left: 1.5%;
    background-color: aliceblue;
    display: inline-block;
}

.bookcontainer .bookcenter{
    text-align: center;
}

.bookcontainer .booktitle{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 5px;
}

.button1{
    width: 150px;
    display: inline-block;
    background: #2A9DF4;
    cursor: pointer;
    border-radius: 30px;
    border-color: #D0EFFF;
    border-width: 2px;;
    text-decoration: none;
    color: white;
}

.catbox{
    width: 90%;
    margin: auto;
    margin-top: 2%;
    height: auto;
    background-color: white;
    border-radius: 30px;
}

.cattitle{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #2A9DF4 !important;
}